<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.USE_BIOMETRIC" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- Request legacy Bluetooth permissions on older devices. -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="com.google.android.gms.permission.AD_ID" />
	<!--
	Needed only if your app looks for Bluetooth devices.
	If your app doesn't use Bluetooth scan results to derive physical
	location information, you can strongly assert that your app
	doesn't derive physical location.
	-->
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
	<!--
	Needed only if your app makes the device discoverable to Bluetooth
	devices.
	-->
	<uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
	<!--
	Needed only if your app communicates with already-paired Bluetooth
	devices.
	-->
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<!-- bibo01 : hardware option -->
	<uses-feature android:name="android.hardware.bluetooth" android:required="false" />
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:name=".MainApplication" android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"
		android:allowBackup="false" android:networkSecurityConfig="@xml/network_security_config"
		android:usesCleartextTraffic="true" android:theme="@style/AppTheme">
		<activity android:name=".MainActivity" android:label="@string/app_name"
			android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
			android:launchMode="singleTask" android:windowSoftInputMode="adjustResize"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<!-- Branch URI Scheme -->
			<intent-filter>
				<!-- If utilizing $deeplink_path please explicitly declare your hosts, or utilize a
	wildcard(*) -->
				<!-- REPLACE `android:scheme` with your Android URI scheme -->

				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="owallet" android:host="open" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="owallet" android:host="wcV2" />
			</intent-filter>
			<!-- Branch App Links - Live App -->
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<!-- REPLACE `android:host` with your `app.link` domain -->
				<data android:scheme="https" android:host="jv8kt.app.link" />
				<!-- REPLACE `android:host` with your `-alternate` domain (required for proper
	functioning of App Links and Deepviews) -->
				<data android:scheme="https" android:host="jv8kt-alternate.app.link" />
			</intent-filter>

			<!-- Branch App Links - Test App -->
			<intent-filter android:autoVerify="true">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="https" android:host="jv8kt.test-app.link" />
				<!-- REPLACE `android:host` with your `-alternate` domain (required for proper
	functioning of App Links and Deepviews) -->
				<data android:scheme="https" android:host="jv8kt-alternate.test-app.link" />
			</intent-filter>
		</activity>
		<!-- Branch init -->
		<!-- REPLACE `BranchKey` with the value from your Branch Dashboard -->
		<meta-data android:name="io.branch.sdk.BranchKey"
			android:value="key_live_lDjLNDZQIMJJ4h3oUbLonhmbyviyenR2" />
		<!-- REPLACE `BranchKey.test` with the value from your Branch Dashboard -->
		<meta-data android:name="io.branch.sdk.BranchKey.test"
			android:value="key_test_iunIJE4PGHNTXk6jLpLdllncByjxhlYa" />
		<!-- Set to `true` to use `BranchKey.test` -->
		<meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
		<meta-data android:name="io.sentry.anr.enable" android:value="false" />
	</application>
	<queries>
		<intent>
			<action android:name="android.intent.action.SEND" />
			<data android:mimeType="text/plain" />
		</intent>
	</queries>
</manifest>