@import "../../../../styles/var";
@import "../../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  input:read-only {
    box-shadow: none !important;
    background: transparent;
    color: $color-lighter;
  }
}

.input {
  border-radius: 4px;
  background-color: $neutral-surface-card;
  color: $color-neutral-2 !important;

  &::placeholder {
    color: $color-gray-70 !important;
    opacity: 1 !important; /* Firefox */
  }

  &:focus {
    border-radius: 4px;
  }
}

.input-group {
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  &:focus-within {
    box-shadow: $input-focus-alternative-box-shadow !important;
  }
}
