@import '../../styles/var';

.top-box {
  background-color: $neutral-surface-card;
  background-image: url("../../public/assets/images/img-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
  border-radius: 12px;
  margin-left: 16px;
  margin-right: 16px;

  .avatar {
    .img-avatar {
      width: 44px;
      height: 44px;
      border-radius: 100%;
    }
  }

  .wrap-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title-wallet {
      color: $neutral-text-title;
      font-size: 22px;
      font-weight: 700;
      line-height: 28px; /* 127.273% */
    }

    .sub-title-wallet {
      color: $neutral-text-body;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }
  }


}

.account-actions {

  margin: 1px 16px 16px 16px;
.action-item:hover{
  background-color: $neutral-surface-pressed;
}
  .action-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background: $neutral-surface-card;
    border-radius: 12px;
    margin-bottom: 1px;
    height: 56px;
    .left-title {
      color: $neutral-text-title;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px; /* 142.857% */
    }
    &.removeAccount span {
      color: $error-text-action;
    }
    .blockRight {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 6px;
      .right-title {
        color: $neutral-text-body;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
      }
    }



  }
}