@import "../../../styles/var";

.chain-selector {
  width: 100%;
  height: 46px;
  background-color: $background-color-lighter;
  border-radius: 8px;
  button {
    width: 100%;
    text-align: left;
    font-weight: normal;

    .channel {
      float: right;
      letter-spacing: 0.14px;
      color: $color;
      &:hover {
        color: white;
      }
    }
  }

  :global(.dropdown-toggle) {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
    &::after {
      border-radius: 2px;
      content: " ";
      display: block;
      height: 0.625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: 0.625em;
      border: 0 solid $color;
      border-bottom-width: 3px;
      border-left-width: 3px;
      right: 1.125em;
      z-index: 4;
    }
  }

  :global(.dropdown-menu.show) {
    width: 100%;
    // top: $header-height !important;
  }
}

.save-btn {
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  color: $color-darker;

  &:hover {
    color: $color-darker;
  }
}

.new-ibc-btn {
  display: flex;
  align-items: center;
}

:global(.dropdown-menu.show) {
  width: 100%;
  background-color: $background-color-lighter;
  position: absolute !important;
  left: 0 !important;
  top: 46px !important;
  transform: none !important;
}

:global(.dropdown-menu .dropdown-item:hover) {
  &:hover {
    color: $color-white !important;
  }
}

:global(.dropdown-item:active) {
  &:active {
    color: $color;
  }
}

.addChain {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.textAddChain {
  font-size: 12px;
  font-weight: 600;
  color: $color-accent-1;
}

.input-group {
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}
