@import '../../../styles/var';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  .alert {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 12px;
    align-items: center;
    gap: 8px;
    background-color: $warning-surface-subtle;
    .text-alert {
      color: $neutral-text-title;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px; /* 142.857% */
    }
  }
  .qrcode-container{
    background-color: $neutral-surface-bg;
    padding: 10px;
    border-radius: 12px;
    margin: 16px 0;
  }
  .content-private-key{
    background-color: $neutral-surface-bg;
    padding: 8px 12px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    word-wrap: break-word;

    .wrap-title{
      .title{
        padding: 12px;
        color: $neutral-text-title;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
      }
    }
    .content{
      color: $neutral-text-body;
      font-size: 13px;
      font-weight: 400;
      text-wrap: wrap;
      width: 100%;
      line-height: 18px; /* 138.462% */
    }
  }

}