.DS_Store
.idea
# .vscode
node_modules
dist
prod
.gitsecret/keys/random_seed
!*.secret
apps/extension/src/config.var.tsx

yarn-error.log

build
build/*
apps/extension/src/config.ui.var.tsx
apps/stores-internal/build/
apps/hooks-internal/build/

.cache
.turbo
.cursorrules
.parcel-cache

coverage

.yarn/cache
.yarn/install-state.gz
.yarnrc
 
# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.npmrc
.env
.env.*
*.map

