.DS_Store
.idea
# .vscode
node_modules
dist
prod
.gitsecret/keys/random_seed
!*.secret
packages/extension/src/config.var.tsx

yarn-error.log

build
build/*
packages/extension/src/config.ui.var.tsx

.cache
.parcel-cache

coverage

.yarn/cache
.yarn/install-state.gz
.yarnrc
.npmrc
.env
.env.*


