.DS_Store
.idea
# .vscode
node_modules
dist
prod
.gitsecret/keys/random_seed
!*.secret
packages/extension/src/config.var.tsx

yarn-error.log

build
build/*
packages/extension/src/config.ui.var.tsx

.cache

coverage

.yarn/
.yarnrc

packages/mobile/android/app/google-services.json
packages/mobile/ios/GoogleService-Info.plist
