@import "../../styles/var";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    margin-top: 20px;
    text-align: center;
  }

  .paragraph {
    text-align: center;
    padding: 0 24px;
  }

  .permission {
    margin-top: 30px;
    font-size: 14px;
    color: #7664e4;
    text-align: center;
  }

  ul {
    list-style: none;
    font-size: 14px;
    padding: 0;
    width: fit-content;
    margin: auto;
    color: #7664e4;

    li:before {
      content: "- ";
    }
  }

  .buttons {
    display: flex;
    margin-bottom: 36px;
  }

  .button {
    flex: 1;
    background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  }

  .reject-btn {
    background: transparent;
    border: 1px solid $color-danger-90;
    color: $color-danger-90;

    &:hover {
      color: $color-danger-90;
    }
  }

  .approve-btn {
    &:hover {
      color: $color-darker;
    }
  }
}
