.validator-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .left {
        display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
}

.validator-thumbnail {
    width: 40px;
    overflow: hidden;
    border-radius: 20px;
    height: 40px;
    img {
        object-fit: contain;
        height: 100%;
    }
}