@import "../../styles/var";
.container::-webkit-scrollbar {
  display: none; // Safari and Chrome
}
.container {
  -ms-overflow-style: none; // Internet Explorer 10+
  scrollbar-width: none; // Firefox
}
.tabs {
  display: "flex";
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  margin-top: 12px;
  margin-bottom: 24px;
  position: absolute;
  bottom: 0;
  width: "100%";
  background-color: #777e90;
}

.button {
  flex: 1;
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  // color: $color-white;
}

.reject-btn {
  background: transparent;
  border: 1px solid $color-danger-90;
  color: $color-danger-90;

  &:hover {
    color: $color-danger-90;
  }
}

.approve-btn {
  &:hover {
    color: $color-darker;
  }
}

.container {
  height: 99%;
  width: "100%";
  display: flex;
  flex-direction: column;
  // overflow-y: scroll;
  color: "#353945" !important;
}

.tab-container {
  min-height: 328px;

  &.data-tab {
    overflow: auto;
  }
}

.message {
  height: 360px;
  font-size: 12px;
  overflow: visible;
  color: rgb(53, 57, 69);
  // background: transparent;
}

.setting {
  z-index: 1;
  width: 100%;
  height: 35%;

  position: absolute;
  bottom: 0;

  transition: all 0.5s;
  transform: translateY(100%);

  &.activeSetting {
    transform: translateY(0);
  }

  &.modal {
    width: 100%;
    height: 95%;
    display: "flex";
    justify-content: "center";
    align-items: "center";
    background-color: $neutral-surface-card;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
