@import '../../styles/var';

.card {
  margin-bottom: $layout-margin;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.swap-input-group {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-item {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.dropdown {
  min-width: 270px;
}

.legend {
  display: flex;
  .label {
    letter-spacing: -0.3px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .value {
    letter-spacing: -0.3px;
    font-size: 14px;
    display: flex;
    font-weight: 600;
    align-items: center;
  }
}
