@import "../../styles/var";

.chain-list-container {
  padding: 12px 4px 12px 12px; // scrollbar is 8px
  min-width: 210px;
  text-align: center;
  max-height: 300px;
  overflow-y: auto;
  background-color: $background-color-lighter;

  .chain-name {
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
    color: $color-gray-10;
    border-radius: 6px;
    padding: 4px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:global(.selected) {
      cursor: auto;
      background-color: $color-gray-60;
    }

    &:not(:global(.selected)):hover {
      background-color: $color-gray-60;
    }

    margin-top: 4px;
    &:first-child {
      margin-top: 0;
    }

    .remove-btn {
      position: absolute;
      right: 0;
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
}
