@import '../../../styles/var';


.container-info-account-card {
  background-color: $neutral-surface-card;
  padding: 16px;
  border-radius: 24px;

  .top-header-info-acc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .select-account {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      .img-wallet {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #fff;
      }

      .name-wallet {
        color: $neutral-text-title;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }

      .arr-down {
        width: 20px;
        height: 20px;
        color: $neutral-text-action-on-light-bg;
        fill: $neutral-text-action-on-light-bg;
      }
    }

    .block-copy-address {
      background-color: $neutral-surface-action3;
      border-radius: 999px;
      padding: 4px 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      .name-copy {
        color: $neutral-text-action-on-light-bg;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }

      .icon-copy {
        width: 20px;
        height: 20px;
        color: $neutral-text-action-on-light-bg;
      }
    }
  }

  .body-balance {
    padding: 8px 0;

    .text-balance {
      color: $neutral-text-heading;
      font-weight: 500;
      font-size: 28px;
    }
  }

  .btns-send-received {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;

    .btn-wrap {
      background-color: $primary-surface-default;
      width: 100%;
      display: flex;
      justify-content: center;
      border-radius: 999px;
      padding: 4px 12px;

      .txt {
        color: $neutral-text-action-on-dark-bg;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
    }


  }
}

.container-token-card {
  background-color: $neutral-surface-card;
  width: 100vw;
  min-height: 100vh;
  margin: 16px -16px;
  border-radius: 24px;
  padding: 16px;


  .list-tokens {
    padding: 8px 0;

    .token-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px 0;
      border-bottom: 1px solid $neutral-border-default;

      .wrap-left-block {
        display: flex;
        flex-direction: row;
        gap: 12px;

        .logo-token-and-chain {

          .token-wrap {
            width: 44px;
            height: 44px;
            border-radius: 999px;
            background-color: $neutral-surface-action2;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .token {
              width: 32px;
              height: 32px;
              border-radius: 999px;
            }

            .chain-wrap {
              position: absolute;
              right: -3px;
              bottom: -1px;
              border-radius: 999px;
              width: 21px;
              height: 21px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $neutral-surface-card;
              border: 1px solid $neutral-border-bold;

              .chain {
                width: 18px;
                height: 18px;
                border-radius: 999px;
              }
            }
          }


        }

        .body-token-item {
          display: flex;
          flex-direction: column;
        }
      }

      .right-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }

      .title {
        color: $neutral-text-title;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        .price-change {
          font-size: 12px;
          font-weight: 400;
        }
      }



      .sub-title {
        color: $neutral-text-body;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.success-color {
  color: $success-text-body;
}

.error-color {
  color: $error-text-body;
}
.search-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background-color: $neutral-surface-action;
  border-radius: 999px;
  gap: 8px;
  width: 100%;

  .icon-search {
    width: 20px;
    height: 20px;
    color: $neutral-text-action-on-light-bg;
  }

  .search-input {
    border: 0px;
    width: 100%;
    background-color: $neutral-surface-action;
    font-size: 14px;
  }
}

.header-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;

  .header-left {
    display: flex;
    flex: 8%;
  }

  .title {
    display: flex;
    flex: 84%;
    justify-content: center;

    .title-text {
      color: $neutral-text-title;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      font-style: normal;
    }
  }

  .header-right {
    display: flex;
    flex: 8%;
    justify-content: flex-end;

    .close-btn {
      border-radius: 999px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $neutral-surface-action;
      cursor: pointer;

      .img-icon {
        width: 18px;
        height: 18px;
      }
    }
  }

}
