@import "../../styles/var";

.container {
  width: 100%;
  max-height: 76px;
  // padding: 16px;
  cursor: pointer;
  // background-color: $color-gray-80;
  // border-top: 1px solid $color-gray-70;

  // &:last-child {
  //   border-bottom: 1px solid $color-gray-70;
  // }

  &.with-sub-paragraph {
    height: 84px;

    .inner-container {
      h1 {
        line-height: 1.25;
      }

      p {
        line-height: 1.25;
      }
    }
  }

  // border-top: #e9ecef solid 1px;

  // &:last-of-type {
  //   border-bottom: #e9ecef solid 1px;
  // }

  display: flex;
  flex-direction: row;

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 14px;
      color: #353945;
      font-weight: 600;
      line-height: 20px;
      margin: 0;

      max-width: 240px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    p {
      font-size: 14px;
      color: #8898aa;
      margin: 0;

      max-width: 280px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .icon-container {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: 8px;
    }
  }
}
