@import '../../styles/var';

.container {
  margin: 0 calc(#{$layout-padding} * -1) calc(#{$layout-padding} * -1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toggle-slider {
  background-color: $color-gray-toggle;
  border: 1px solid $color-gray-toggle;
}

.toggle-btn input:checked + .toggle-slider {
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  border: 1px solid $primary-color;
}

.toggle-btn input:checked + .toggle-slider:before {
  background: #ffffff;
  transform: translateX(1.625rem);
}

.paragraph {
  color: $color-neutral-3;
  font-size: 14px;
  font-weight: 400;
}

.popover-container {
  position: absolute;
  top: 0px;
  left: 50px;
  box-shadow: 0px 4px 20px #d5dfe4;
  border-radius: 8px;
  background-color: #ffffff;
}

.classname-test {
  position: absolute;
  top: -165px;
  left: 0px;
  box-shadow: 0px 4px 20px #d5dfe4;
  border-radius: 8px;
  background-color: #ffffff;
}

.setting-modal-lang {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:first-child {
    padding-bottom: 16px;
  }
  &:hover {
    color: $color-accent-1 !important;
  }
}

.text-lang {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
}

.setting-modal-cur {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-bottom: 10px;
  &:last-child {
    padding-bottom: 0px;
  }
  &:hover {
    color: $color-accent-1 !important;
  }
}

.text-currency {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
}
