@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";
@import "../../../styles/var";

.form-container {
  // min-height: 100%;
}

.form-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-modal {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: $color;
  background-color: $neutral-surface-card;
  &:global(.modal-content) {
    box-shadow: none;
  }
}

.address-book-button {
  background: #7664e4;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 0;

  box-shadow: $input-alternative-box-shadow !important;

  &:hover {
    box-shadow: $input-focus-alternative-box-shadow !important;
  }
}

.send-btn {
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  border-radius: 4px;
  outline: none;

  &-text {
    color: $color-darker;
    &:hover {
      color: $color-darker;
    }
  }
}

.setting {
  z-index: 1;
  width: 100%;
  height: 35%;

  position: absolute;
  bottom: 0;

  transition: all 0.5s;
  transform: translateY(100%);

  &.activeSetting {
    transform: translateY(0);
  }

  &.modal {
    width: 100%;
    height: 95%;
    display: "flex";
    justify-content: "center";
    align-items: "center";
    background-color: $neutral-surface-card;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
