@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";
@import "../../styles/var";

.full-modal {
  width: calc(100% - 48px);
  height: 524px;
  max-width: none;
  max-height: 924px;
  // border: 0;
  // margin: 24px;
  // padding: 0;
  // color: $color;
  // background-color: $neutral-surface-card;

  &:global(.modal-content) {
    box-shadow: none;
  }
}

.input {
  // box-shadow: $input-alternative-box-shadow !important;
  background-color: $neutral-surface-card;
  color: $color-neutral-2 !important;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-gray-70 !important;
    opacity: 1 !important; /* Firefox */
  }

  &:focus {
    border-radius: 4px;
  }
}

.input-group {
  display: block;
  border-radius: 24px;
  padding: 12px 16px 8px 16px;
  background-color: $neutral-surface-card;
  &:focus-within {
    box-shadow: $input-focus-alternative-box-shadow !important;
  }
}

.address-book-button {
  &:hover {
    box-shadow: $input-focus-alternative-box-shadow !important;
  }
}

.modalStyle {
  min-height: 324px;
  overflow: auto;
  padding: 20px;
  margin-top: 100px;
}
