@import "../../styles/var";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  // box-shadow: $input-alternative-box-shadow !important;
  color: $color-gray-70 !important;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-gray-70 !important;
    opacity: 1 !important; /* Firefox */
  }

  &:focus {
    // border: 1px solid $color-gray-70 !important;
    border-radius: 4px;
  }
}

.input-group {
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  &:focus-within {
  }
}

.row {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.token-selector {
  width: 100%;
  min-height: 46px;
  border-radius: 0.375rem;
  color: $color-neutral-2 !important;
  background-color: $neutral-surface-card;
  box-shadow: none !important;
  button {
    width: 100%;
    text-align: left;
    font-weight: normal;
  }

  :global(.dropdown-toggle) {
    // box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
    padding-right: 2rem;
    color: $color-neutral-2;
    &::after {
      border-radius: 2px;
      content: " ";
      display: block;
      height: 0.625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: 0.625em;
      border: 0 solid $color-gray-70;
      border-bottom-width: 3px;
      border-left-width: 3px;
      right: 1.125em;
      z-index: 4;
    }
  }

  :global(.dropdown-menu.show) {
    width: 100%;
    background-color: $background-color-lighter;
  }

  :global(.dropdown-item.active) {
    background-color: #7664e4;
    color: $neutral-surface-card;
  }

  &:global(.disabled) {
    button {
      background: #e9ecef;
      border-color: #e9ecef;
    }
  }
}

.balance {
  color: $color-neutral-2;
  text-decoration: none;
  word-break: break-word;

  &.clickable {
    cursor: pointer;

    &:hover {
      color: $second-color;
    }

    &.clicked {
      color: $second-color;
    }
  }
}

.label-balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
