@import "../../styles/var";

.input {
  border-width: 0 !important;
  background-color: transparent;
  padding: 0;

  &:focus {
    background-color: transparent;
  }
}

.textArea {
  border: 1px solid;
  border-color: $neutral-border-bold;
  box-shadow: none;
}
