@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";
@import "../../styles/var";

.input {
  border-width: 0 !important;
  background-color: transparent;
  padding: 0;

  &:focus {
    background-color: transparent;
  }
}

.textArea {
  border: 1px solid;
  border-color: $neutral-border-bold;
  box-shadow: none;
}
