@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";

.input {
  border-width: 0 !important;
  background-color: transparent;
  padding: 0;

  &:focus {
    background-color: transparent;
  }
}

.label {
}
