@import '../../styles/var';

.card {
  margin-bottom: $layout-margin;

  &:last-of-type {
    margin-bottom: 0;
  }

  // :global(.card-body) {
  //   padding: $main-card-padding;
  // }

  .cardBody {
    width: 100%;
    padding: 16px;
    img {
      width: 100%;
      height: 100%;
    }
    .imgName {
      font-size: 20px;
      font-weight: 500;
      padding-top: 16px;
    }

    .content {
      display: flex;
      justify-content: space-between;
      padding-top: 8px;
      color: rgba(53, 57, 69, 1);
      .tokenId {
        min-width: 60px;
        height: 24px;
        background-color: #F3F1F5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        span {
          font-size: 16px;
          padding-left: 4px;
          padding-right: 4px;
        }
      }
      span {
        font-weight: 600;
      }
    }

    .rightContent {
      text-align: right;
      padding-top: 4px;
      color: rgba(119, 126, 144, 1);
      font-size: 14px;
    }
  }
}