@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions";
@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins";
@import "../../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables";
@import "../../../styles/var";

.form-container {
  // min-height: 100%;
}

.form-inner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-modal {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: $color;
  background-color: $neutral-surface-card;
  &:global(.modal-content) {
    box-shadow: none;
  }
}

.address-book-button {
  background: #7664e4;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 0;

  box-shadow: $input-alternative-box-shadow !important;

  &:hover {
    box-shadow: $input-focus-alternative-box-shadow !important;
  }
}

.send-btn {
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  border-radius: 4px;
  outline: none;

  &-text {
    color: $color-darker;
    &:hover {
      color: $color-darker;
    }
  }
}

.input {
  color: $color-gray-70 !important;
  &::placeholder {
    color: $color-gray-70 !important;
    opacity: 1 !important;
  }

  &:focus {
    box-shadow: $input-focus-alternative-box-shadow !important;
    border-radius: 4px;
  }
}

.input-group {
  display: flex;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  &:focus-within {
    box-shadow: $input-focus-alternative-box-shadow !important;
  }
}
