@import "../../styles/var";

.title {
  font-size: 24px;
  text-align: center;
}

.content {
  font-size: 14px;
  letter-spacing: -0.71px;
  color: #6b6b6b;
  text-align: center;
}

.done-btn {
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  color: $color-darker;
  margin-top: 60px;

  &:hover {
    color: $color-darker;
  }
}
