.container-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-size: 20px;
  color: #23262F;
  font-weight: bold;
}

.container-account {
  display: flex;
  flex-direction: row;
}

.address {
  font-size: 14px;
  color: #777E90;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.coin-type {
  text-align: center;
  font-size: 14px;
  color: #777E90;
  opacity: 0.6;
}
