.container-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

.container-account {
  display: flex;
  flex-direction: row;
}

.address {
  border: solid 1px #e6e6e6;
  border-radius: 100px;
  padding: 0 16px;

  font-size: 12px;
  color: #F6F7FB;

  cursor: pointer;
}
