.container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.item {
  cursor: pointer;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #F6F7FB;
}

.footer {
  padding: 20px 30px;
  font-size: 14px;

  .inner {
    display: flex;
    cursor: pointer;
    color: #8898aa;

    i {
      margin-right: 6px;
      font-size: 20px;
    }
  }
}
