@import "../../styles/var";

.container {
  display: flex;
  flex-direction: column;
  color: $color;
  height: 100%;
}

.item {
  cursor: pointer;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
  &:hover,
  &:active {
    color: $color-lighter;
  }
}

.sign-out {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-gray-50;
    left: 0;
    position: relative;
    display: block;
    top: 10px;
  }
}

.footer {
  padding: 20px 0px 20px 20px;
  font-size: 14px;

  .inner {
    display: flex;
    cursor: pointer;
    color: $color-gray-60;

    i {
      margin-right: 6px;
      font-size: 20px;
    }
  }
}
