@import "../../styles/var";

.right {
  height: $header-height;
  padding-right: $layout-padding;

  display: flex;
  flex-direction: column;

  .sign-out {
    font-size: 20px;
    padding: 0 8px;

    i {
      cursor: pointer;
      color: #8f8f8f;

      &:hover {
        color: black;
      }
    }
  }
}

.container-account-inner {
  .image-wrap {
    // background-image: url("../../public/assets/img/account-inner.png");
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-size: cover;
    width: 100%;
    display: block;
  }
}

.card {
  margin-bottom: $layout-margin;
  // background-color: #3b3b45 !important;

  &:last-of-type {
    margin-bottom: 0;
  }

  :global(.card-body) {
    padding: $main-card-padding;
  }
}
