@import '../../styles/var';
@import '../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/functions';
@import '../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/mixins';
@import '../../../../../node_modules/argon-dashboard-react/src/assets/scss/argon-dashboard/custom/variables';

.token-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;

  margin: 0 0 12px 0;

  &:last-of-type {
    margin-bottom: 0;
  }

  .icon {
    width: 36px;
    height: 36px;
    > div {
      overflow: hidden;
    }
    margin-right: 8px;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .inner-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 14px;
        color: $color-neutral-3;
        &:global(.activeToken) {
          color: $color-accent-1;
        }
        max-width: 216px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .amount {
        font-size: 16px;
        line-height: 1.13;
        letter-spacing: -0.3px;
        color: $color-black;

        max-width: 216px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .price {
        font-size: 14px;
        color: $color-gray-92;
      }
    }

    .right-icon {
      i {
        font-size: 18px;
        color: $color-gray-90;
      }
    }
  }
}

.tokens-container {
  .tabs-container {
    display: flex;
    .tab {
      width: 50%;
      text-align: center;
    }
    hr {
      width: 64px;
      border: 1px solid $color;
      border-radius: 2px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    color: $color-gray-92;
    margin-bottom: 4px;
    cursor: pointer;
    // margin-bottom: 12px;
  }
}

.input {
  color: $color-gray-70 !important;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-gray-70 !important;
    opacity: 1 !important; /* Firefox */
  }

  &:focus {
    box-shadow: $input-focus-alternative-box-shadow !important;
    border-radius: 4px;
  }
}

.input-group {
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  &:focus-within {
    box-shadow: $input-focus-alternative-box-shadow !important;
  }
}
