@import '../../styles/var';

.container-tx-button {
  display: flex;
  flex-direction: row;
  .button {
    font-weight: 500;
    flex: 1;
    background-color: $color-neutral-8;
    margin-right: $layout-margin;
    border-radius: 8px !important;
    border: 1px solid $color !important;
    box-shadow: none;
    &:last-child {
      margin-right: 0;
    }
  }
  .btnSend {
    color: $color-white;
    background-color: $color !important;
  }
  .btnReceive {
    color: $color;
    background-color: $color-white !important;
  }
}

.deposit-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .qrcode {
    margin-bottom: 20px;
  }
  .title {
    color: $color-neutral-2;
    font-size: 21px;
  }
}
