@import '../../styles/var';

.container-tx-button {
  display: flex;
  flex-direction: row;

  .button {
    flex: 1;
    background-color: $color;
    margin-right: $layout-margin;
    border-radius: 8px !important;
    border-color: $color !important;
    border-width: 1px;
    box-shadow: none;
    &:last-child {
      margin-right: 0;
    }
    color: $color-darker;

    &:hover {
      color: $color-darker;
    }
  }
  .btnSend {
    color: $color-white;
    background-color: $color !important;
  }
  .btnReceive {
    color: $color;
    background-color: $color-white !important;
  }
}

.deposit-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  width: 100%;

  .title {
    font-size: 14px;
    font-weight: 700;
    color: $color;
  }

  .qrcode {
    margin-bottom: 20px;
    border-radius: 8px;
  }
}
