@import "../../styles/var";

.container-tx-button {
  display: flex;
  flex-direction: row;
  .button {
    flex: 1;
    background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
    box-shadow: inset 0px 1px 0px rgba(173, 144, 237, 0.7);
    border-radius: 4px;
    margin-right: $layout-margin;
    &:last-child {
      margin-right: 0;
    }
    color: $color-darker;

    &:hover {
      color: $color-darker;
    }
  }
}

.deposit-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  width: 100%;

  .title {
    font-size: 14px;
    font-weight: 700;
    color: $color;
  }

  .qrcode {
    margin-bottom: 20px;
    border-radius: 8px;
  }
}
