$background-color: #f8fafc; //#0e0314;
$background-color-lighter: #302737;
$color: #7664E4;
$color-darker: #ffffff;
$color-lighter: #d7d7d7;
$color-white: #fff;
$color-black: #000;
$primary-color: #123f75;
$popup-size-width: 360px;
$popup-size-height: 580px;

$header-height: 64px;

$layout-padding: 12px;
$layout-margin: 12px;

$main-card-padding: 16px;
