$background-color: #f8fafc; //#0e0314;
$background-color-lighter: #f8fafc;
$color: #7664e4;
$color-darker: #ffffff;
$color-lighter: #d7d7d7;
$color-white: #fff;
$color-black: #000;
$color-gray-10: #f5f5fa;
$color-gray-30: #dddde3;
$color-gray-50: #a6a6b0;
$color-gray-60: #7a7a98;
$color-gray-70: #68687a;
$color-gray-80: #3b3b45;
$color-gray-90: #999999;
$color-gray-92: #92929d;
$color-gray-toggle: #777e90;

$color-danger-90: #ff424f;

$primary-color: #7664e4;
$primary-color-1: #434193;
$second-color: #7664e4;
$popup-size-width: 360px;
$popup-size-height: 580px;

$header-height: 64px;

$layout-padding: 12px;
$layout-margin: 12px;

$main-card-padding: 16px;

$color-neutral-2: #353945;
$color-neutral-3: #777e90;
$color-neutral-4: #e6e8ec;
$color-neutral-5: #f8f9fe;
$color-neutral-8: #fcfcfd;

$color-accent-1: #7664e4;

$color-semantic-3: #ffb800;

// New UI Colors
// We gonna use this colors from now on
// I.Neutral
$neutral-surface-bg: #f5f5f7;
$neutral-surface-bg2: #f5f5f7;
$neutral-surface-card: #ffffff;
$neutral-surface-action: #ebedf2;
$neutral-surface-action2: #ebedf2;
$neutral-surface-action3: #f5f5f7;
$neutral-surface-toggle-active: #fff;
$neutral-surface-pressed: #d4d7e1;
$neutral-surface-disable: #ebedf2;
$neutral-border-default: #ebedf2;
$neutral-border-strong: #242325;
$neutral-border-bold: #242325;
$neutral-border-disable: #f5f5f7;
$neutral-text-heading: #242325;
$neutral-text-title: #242325;
$neutral-text-body: #6a6b71;
$neutral-text-body2: #494949;
$neutral-text-action-on-dark-bg: #fbfbfb;
$neutral-text-action-on-light-bg: #242325;
$neutral-text-disable: #c6c8ce;
$neutral-icon-on-dark: #fbfbfb;
$neutral-icon-on-light: #242325;
$neutral-icon-disable: #c6c8ce;
// II.Primary
$primary-surface-disable: #ebd1ff;
$primary-surface-subtle: #f4e5ff;
$primary-surface-active: #c170ff;
$primary-surface-default: #5c00a3;
$primary-surface-pressed: #7c00db;
$primary-text-action: #7c00db;
$primary-text-pressed: #a22dff;
// III.Highlight
$highlight-surface-subtle: #e4f5b0;
$highlight-surface-active: #90b51b;
$highlight-text-title: #46580b;
// IV.Error
$error-surface-subtle: #ffedeb;
$error-surface-active: #ffaca3;
$error-surface-default: #a81100;
$error-surface-pressed: #e01600;
$error-border-disable: #ffd6d1;
$error-border-default: #a81100;
$error-border-pressed: #e01600;
$error-text-action: #e01600;
$error-text-body: #e01600;
// V.Warning
$warning-surface-subtle: #fff8eb;
$warning-surface-active: #ffe1ad;
$warning-surface-default: #b87500;
$warning-surface-pressed: #f29900;
$warning-border-disable: #fff0d6;
$warning-border-default: #b87500;
$warning-border-pressed: #f29900;
$warning-text-action: #f29900;
$warning-text-body: #f29900;
// VI.Success
$success-surface-subtle: #ecfeee;
$success-surface-active: #d3fdd7;
$success-surface-default: #007018;
$success-surface-pressed: #00ad26;
$success-border-disable: #d3fdd7;
$success-border-default: #007018;
$success-border-pressed: #00ad26;
$success-text-action: #00ad26;
$success-text-body: #00ad26;
