$background-color: #29292d;
$background-color-lighter: #3b3b45;
$color: #f6f7fb;
$color-darker: #1c1b20;
$color-lighter: #d7d7d7;

$color-gray-10: #f5f5fa;
$color-gray-30: #dddde3;
$color-gray-50: #a6a6b0;
$color-gray-60: #7a7a98;
$color-gray-70: #68687a;
$color-gray-80: #3b3b45;
$color-gray-toggle: #777e90;

$color-danger-90: #ff424f;

$primary-color: #8f63ec;
$second-color: #b28dff;
$popup-size-width: 360px;
$popup-size-height: 580px;

$header-height: 64px;

$layout-padding: 12px;
$layout-margin: 12px;

$main-card-padding: 16px;
