@charset "utf-8";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands";

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=option");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

@import "var";

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Space Grotesk", sans-serif !important;
  color: $color;
  background-color: $neutral-surface-card;
  width: $popup-size-width;
  height: $popup-size-height;
  overflow: hidden;
  &[data-lang="ko"] {
    word-break: keep-all;
    word-wrap: break-word;

    font-family: "Space Grotesk", sans-serif !important;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $color;
  margin-bottom: 0;
}

pre {
  color: $color;
}

hr {
  border-top: 1px solid $background-color-lighter;
}

#app {
  width: $popup-size-width;
  height: $popup-size-height;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.form-text,
.valid-feedback {
  position: absolute;
}

.invalid-feedback {
  // position: absolute;
}

.form-control {
  color: $color-neutral-2;
  background-color: $background-color-lighter;
  padding: 0.625rem 0.75rem;
  &:focus {
    background-color: $background-color-lighter;
    color: $color-neutral-2;
  }
}

textarea.form-control {
  min-height: 60px;
}

.input-group {
  background-color: $background-color-lighter;
  overflow: hidden;
  .btn {
    border-radius: 0;
  }
  .btn-outline-primary.disabled,
  .btn-outline-primary:disabled {
    background-color: $primary-color;
    color: $color;
  }
}
.modal-content {
  background-color: mix($background-color, $background-color-lighter);
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: $color-lighter;
  outline: none;
}

.ReactModalPortal {
  .ReactModal__Overlay--after-open {
    background-color: $background-color-lighter !important;
  }
}

.form-control:disabled,
.form-control[readonly] {
  background-color: $background-color-lighter;
  opacity: 0.85;
}

button[data-loading="true"] {
  color: transparent !important;
  pointer-events: none;

  &::after {
    position: absolute !important;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));

    -webkit-animation: spinAround 0.5s infinite linear;
    animation: spinAround 0.5s infinite linear;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1em;
    width: 1em;
  }
}

.btn-outline-primary {
  color: $color;
}

.btn {
  border-radius: 8px;
  white-space: break-spaces;
  word-break: break-word;
  padding: 0.625rem 0.75rem;
  outline: none;
  border: 0;
  color: $color-darker;
}

.btn-primary {
  color: $color-darker;
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  outline: none;
  border: 0;

  &:hover {
    color: $color-darker;
  }

  &:active {
    background: $second-color;
    color: $color-darker;
  }
}

.btn-secondary {
  color: $color;
  border: 0;
  background-color: transparent !important;
  outline: none;

  &:hover {
    color: $color;
  }
}

.dropdown-menu {
  background-color: $background-color-lighter;

  max-height: 500px;
  overflow-y: auto;

  .dropdown-item {
    color: $color;
    white-space: break-spaces;
    word-break: break-word;
    &:hover,
    &:focus,
    &:active {
      color: $neutral-surface-card;
    }
  }
}

.form-control-label {
  color: #777e90;
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px $background-color;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bfbcbc;
  border-radius: 4px;
  outline: 1px solid $background-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.app:hover::-webkit-scrollbar-thumb {
  background: #666;
}
