@import "../../../styles/var";

.buttons {
  display: flex;
  background-color: $background-color-lighter;
  border-radius: 8px;
  margin-bottom: 0px;

  .button {
    flex: 1;
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
    &:not(:global(.btn-primary)) {
      background-color: white;
    }

    &:hover {
      background-color: $second-color;
    }

    &:focus {
      z-index: unset;
    }

    .title {
      font-weight: bold;
    }

    .fiat {
      font-size: 10px;
      font-weight: 300;
    }

    .coin {
      font-size: 10px;
      font-weight: 300;
      word-break: break-word;
    }
  }
}

.title {
  color: rgba(53, 57, 69, 0.85);
  font-weight: bold;
  padding-top: 10px;
  font-size: 14px;
}

.fiat {
  font-size: 11px;
  font-weight: 300;
}

.coin {
  font-size: 10px;
  max-width: 76px;
  font-weight: 300;
  word-break: break-word;
}

.icon {
  border-radius: 999px;
}

.gas-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
}

.gas-btn {
  text-align: right;
  margin-top: -12px;
  color: $primary-color;
}

.toggle-slider {
  background-color: $color-gray-toggle;
  border: 1px solid $color-gray-toggle;
}

.toggle-btn input:checked + .toggle-slider {
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  border: 1px solid $primary-color;
}

.toggle-btn input:checked + .toggle-slider:before {
  background: #ffffff;
  transform: translateX(1.625rem);
}
