@import '../../styles/var';
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $neutral-surface-bg;
}

.inner-container {
  padding: $layout-padding;
  padding-top: 0;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
//
//.layout-hide-page {
//  display: flex;
//  justify-content: flex-end;
//  cursor: pointer;
//  color: $color-neutral-3;
//  font-size: 11px;
//}
