:root {
  --big-text-font-family: "LexendDeca-Regular", Helvetica;
  --big-text-font-size: 24px;
  --big-text-font-style: normal;
  --big-text-font-weight: 400;
  --big-text-letter-spacing: 0px;
  --big-text-line-height: normal;
  --box-color: rgba(25, 27, 33, 1);
  --header-1-font-family: "LexendDeca-Light", Helvetica;
  --header-1-font-size: 70px;
  --header-1-font-style: normal;
  --header-1-font-weight: 300;
  --header-1-letter-spacing: -7px;
  --header-1-line-height: normal;
  --header-2-font-family: "LexendDeca-Regular", Helvetica;
  --header-2-font-size: 42px;
  --header-2-font-style: normal;
  --header-2-font-weight: 400;
  --header-2-letter-spacing: 0px;
  --header-2-line-height: normal;
  --header-3-font-family: "LexendDeca-Regular", Helvetica;
  --header-3-font-size: 24px;
  --header-3-font-style: normal;
  --header-3-font-weight: 400;
  --header-3-letter-spacing: -2.4px;
  --header-3-line-height: normal;
  --hover: rgba(43, 45, 59, 1);
  --line-color: rgba(45, 41, 56, 1);
  --purple-text: rgba(161, 151, 181, 1);
  --text-color: rgba(165, 165, 165, 1);
  --text-font-family: "Gabarito-Regular", Helvetica;
  --text-font-size: 16px;
  --text-font-style: normal;
  --text-font-weight: 400;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
  --white: rgba(255, 255, 255, 1);
}

/* .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 40px;
  position: relative;
  width: 792px;
} */

/* .frame .frame-wrapper {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.frame .div-wrapper {
  align-items: center;
  background-color: #603dc7;
  border-radius: 24px 24px 0px 24px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 24px;
  position: relative;
} */

.frame .text-wrapper {
  color: var(--white);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame .div {
  align-items: center;
  background-color: #1d143a;
  border-radius: 24px 24px 24px 0px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 24px;
  position: relative;
}

.frame .p {
  color: var(--white);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-wrapper-2 {
  align-items: center;
  background-color: #1d143a;
  border-radius: 24px 24px 24px 0px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 24px;
  position: relative;
  width: 448px;
}

.frame .text-wrapper-2 {
  color: var(--white);
  flex: 1;
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  margin-top: -1px;
  position: relative;
}
