@import "../../styles/var";

.boxchat {
}

.inputChat {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
  }

  button {
    margin-top: 10px;
  }
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msgerHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msgerChat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msgerChat::-webkit-scrollbar {
  width: 6px;
}
.msgerChat::-webkit-scrollbar-track {
  background: #ddd;
}
.msgerChat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msgImg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msgBubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msgInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msgInfoName {
  margin-right: 10px;
  font-weight: bold;
}
.msgInfoTime {
  font-size: 0.85em;
}

.leftMsg .msgBubble {
  border-bottom-left-radius: 0;
}

.rightMsg {
  flex-direction: row-reverse;
}
.rightMsg .msg-bubble {
  background: var(--right-msg-bg);
  color: #666;
  border-bottom-right-radius: 0;
}
.rightMsg .msg-img {
  margin: 0 0 0 10px;
}

.msgerInputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}
.msgerInputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msgerInput {
  flex: 1;
  background: #ddd;
}
.msgerSendBtn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msgerSendBtn:hover {
  background: rgb(0, 180, 50);
}
