@import "../../../styles/var";

.container {
  margin: 0 calc(#{$layout-padding} * -1) calc(#{$layout-padding} * -1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inner-top-container {
  display: flex;
  margin: 5px $layout-padding;

  min-height: 43px;
}

.add-btn-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .add-btn {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, $primary-color 0%, $second-color 100%) !important;
    color: $color-darker;

    &:hover {
      color: $color-darker;
    }
  }
}

.popover-container {
  background-color: $color-gray-80;
  border-radius: 6px;
}

.popover-item {
  cursor: pointer;
  color: $color;

  &:hover {
    color: black;
  }
}
