@import "../../styles/var";

.form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.capslock-tooltip-arrow {
  left: 10px !important;
}

.unlock-btn {
  border-radius: 4px;
  color: $color-darker;
  margin-bottom: 24px;

  &:hover {
    background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
    color: $color-darker;
  }

  &:active {
    background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
    color: $color-darker;
  }
}
