@import "../../styles/var";

.hr {
  background-color: gray;
  margin: 0;
  height: 1px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.msgs-badge {
  color: $color-darker;
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
}

.fee-price {
  display: flex;
  flex-direction: column;
  color: $color-neutral-3;
  margin-bottom: 8px;
  font-size: 12px;
}

.msg-container {
  // overflow: auto;
  padding-bottom: 32px;
  // flex: 1;
  font-size: 12px;
  color: $color-neutral-3;
  hr {
    margin: 8px 0;
  }

  .msg {
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon {
      display: flex;
      flex-direction: column;
      margin: 0 10px 0 8px;
      width: 24px;
      text-align: center;
      color: $color-neutral-3;
      i {
        font-size: 20px;
        line-height: 20px;
      }
    }

    .content-container {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 70%;

      .content-title {
        font-size: 16px;
        font-weight: bold;
        color: $color-neutral-3 !important;
      }
      pre {
        color: $color-neutral-3 !important;
      }

      .content {
        font-size: 12px;
        color: $color-neutral-3;
      }
    }
  }
}
