@import '../../../styles/var';

.container {
  background-color: $neutral-surface-card;
  height: 100%;
  padding: 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 130px);
  overflow: scroll;

  .alert {
    display: flex;
    flex-direction: row;
    padding: 12px;
    border-radius: 12px;
    align-items: center;
    gap: 8px;
    background-color: $warning-surface-subtle;

    .text-alert {
      color: $neutral-text-title;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px; /* 142.857% */
    }
  }

  .chain-info {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
    cursor: pointer;
    background-color: $neutral-surface-action3;
    padding: 20px 12px;
    border-radius: 8px;

    .left-chain {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;

      .text-chain {
        color: $neutral-text-title;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; /* 142.857% */
      }

      .img-chain {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }

    .arr-down {
      width: 20px;
      height: 20px;
      color: $neutral-text-action-on-light-bg;
      fill: $neutral-text-action-on-light-bg;
    }

  }
}