@import "../../../styles/var";

.dropdown {
  margin-left: $layout-padding;
}

.token-selector {
  width: 100%;
  min-height: 46px;
  border-radius: 0.375rem;
  color: $color-neutral-2 !important;
  background-color: $neutral-surface-card;
  box-shadow: none !important;
  button {
    width: 100%;
    text-align: left;
    font-weight: normal;
  }

  :global(.dropdown-toggle) {
    // box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02) !important;
    padding-right: 2rem;
    color: $color-neutral-2;
    &::after {
      border-radius: 2px;
      content: " ";
      display: block;
      height: 0.625em;
      margin-top: -0.4375em;
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: rotate(-45deg);
      transform-origin: center;
      width: 0.625em;
      border: 0 solid $color-gray-70;
      border-bottom-width: 3px;
      border-left-width: 3px;
      right: 1.125em;
      z-index: 4;
    }
  }

  :global(.dropdown-menu.show) {
    width: 100%;
    background-color: $background-color-lighter;
    position: absolute !important;
    left: 0 !important;
    top: 46px !important;
    transform: none !important;
  }

  :global(.dropdown-item) {
    color: $color-neutral-2;
    &:hover {
      background-color: $color-accent-1;
      color: $background-color !important;
    }
  }
}
