@import "../../styles/var";

$container-width: 420px;

:global(body)[data-centered="true"] {
  // margin: auto;
  background-color: $background-color;
  height: 100%;
  overflow: visible !important;

  :global(#app) {
    height: 100%;

    .container {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      background-color: transparent !important;
    }
  }
}

.container {
  // width: $container-width;
  // margin-left: ($popup-size-width - $container-width) / 2;
  padding-left: 35vw;
  padding-right: 35vw;
  overflow-y: auto;
  height: 100vh;
  width: 100vw;

  @media screen and (max-width: 786px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 0;
    padding-right: 0;
  }

  display: flex;
  flex-direction: column;

  :global(.btn) {
    margin-left: 0;
    margin-right: 0;
  }

  .logo-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
      max-width: 100%;
      height: 120px;
    }

    .logo-inner-container {
      margin-top: 22px;
      text-align: center;

      .logo {
        height: 50px;
        max-width: 100%;
        margin-bottom: 22px;
      }
      .title {
        font-size: 28px;
        line-height: 1;
        color: $neutral-text-title;
        font-weight: 700;
      }
      .paragraph {
        font-size: 20px;
        line-height: 1;
        color: $color-gray-50;
        font-weight: 400;
      }
    }
  }

  .title {
    font-size: 24px;
    letter-spacing: -1.07px;
    margin-bottom: 24px;

    color: #a6a6b0;
  }

  .mnemonic {
    font-family: "Courier Prime", serif;
    font-size: 16px;
    letter-spacing: -0.36px;

    padding: 20px 30px;
    text-align: center;

    &:read-only {
      background-color: $background-color-lighter;
    }

    &[readonly] {
      color: $color-lighter;
    }
  }

  .sub-content {
    margin-top: 34px;

    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #9092b6;
  }

  hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  button:not(:last-child) {
    margin-right: 8px;
  }
  button {
    margin-bottom: 8px;
    margin-left: 0 !important;
  }
}

.backButton {
  flex-direction: row;
}

.new-wallet-btn,
.next-btn {
  background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  color: $color-darker !important;
  border-radius: 4px;
  &:hover {
    color: $color-darker;
  }
  &:active {
    color: $color-darker;
    background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  }
}

.import-wallet-btn {
  background: $color;
  color: $color-white;
  border-radius: 4px;
  outline: none;
  border: none;
  &:hover {
    color: $color-darker;
    // background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  }
  &:active {
    color: $color-darker;
    background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
  }
}
