@import "../../../styles/var";

.container {
  background-color: $neutral-surface-card;
  //height: 100%;
  padding: 16px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 70px);
  overflow: scroll;


}
.search-input {
  max-height: 44px;
  min-height: 44px;
}
.page-container {
  padding: 0 16px;
}

.search-container {
  padding-bottom: 20px;
}

.flat-list {
  margin-top: 35px;
}

.title-chain {
  font-size: 16px;
  font-weight: 600;
  color: $neutral-text-title;
}

.sub-title-chain {
  font-size: 15px;
  font-weight: 600;
  color: $neutral-text-body;
}

.wrap-info-chain {
  display: flex;
  flex-direction: column;
}

.chain-container {
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-bottom: 0.5px solid $neutral-border-default;
  justify-content: space-between;
  cursor: pointer;
}
.chain-container:hover {
  background-color: $neutral-surface-action;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  //margin-left: -8px;
  //margin-right: -8px;
}
.chain-info {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: row;
}

.chain-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $neutral-surface-action2;
}

.chain-icon-image {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}
.wrap-icon {
  background-color: $neutral-surface-card;
  border-radius: 999px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .img-icon {
    width: 18px;
    height: 18px;
  }
}