@import "../../../styles/var";

.inner-top-container {
  display: flex;
  // margin: 5px $layout-padding;

  min-height: 43px;
}

.full-modal {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: $color;
  background-color: $neutral-surface-card;
  &:global(.modal-content) {
    box-shadow: none;
  }
}

.chain-item {
  &:hover {
    background-color: $color-gray-70;
    color: $color !important;
  }
}

.address-btn-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .address-btn {
    background: linear-gradient(90deg, $primary-color 0%, $second-color 100%);
    display: flex;
    align-items: center;

    &:hover {
      color: $color-darker;
    }
  }
}

.popover-container {
  background-color: $color-white;
  border-radius: 6px;
  position: absolute;
  top: -10px;
  left: -35px;
  box-shadow: 0px 4px 20px #d5dfe4;
}

.button-save {
  width: 50%;
  background-color: $primary-color !important;
  color: $color-white !important;
  &:hover {
    color: $primary-color;
  }
}

.popover-item {
  cursor: pointer;
  color: $color-neutral-2;

  &:hover {
    color: $color;
  }
}

:global(.dropdown-item) {
  &:hover {
    background-color: $color-accent-1;
    color: $background-color !important;
  }
}

// add address modal
.text-type-address {
  text-align: center;
  font-size: 20px;
  color: #353945;
}

.form-add {
  display: flex;
  flex-direction: column;
}

// input
.input {
  border-radius: 4px;
  background-color: rgba(230, 232, 236, 0.2);
  color: $color-neutral-2 !important;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color-gray-70 !important;
    opacity: 1 !important; /* Firefox */
  }

  &:focus {
    background-color: rgba(230, 232, 236, 0.2);
    border-radius: 4px;
  }
}

.input-group {
  display: flex;
  flex-direction: row-reverse;
  background-color: rgba(230, 232, 236, 0.2);
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
}
