name: Mobile code push release workflow
on:
  push:
    tags:
      - mobile/v*.*.*-cp.*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04 #orai-self-hosted
    strategy:
      matrix:
        node-version: [18.17.0]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          repository: owallet-io/code-push-server
      - name: Install Global Package (npm)
        working-directory: cli
        run: |
          npm install
          npm run build
          npm install -g
          code-push-standalone login https://code-push.orai.network --accessKey ${{ secrets.CODEPUSH_ACCESS_KEY }}
      - name: Check code push (npm)
        run: |
          ls /opt/hostedtoolcache/node/18.17.0/x64/bin
          which code-push-standalone
#      - name: Checkout Repository with Submodules
#        uses: actions/checkout@v4
#        with:
#          submodules: true
#          fetch-depth: 0
#          ssh-key: ${{ secrets.SSH_DEPLOY_KEY_MAIN }}
#      - name: Get Yarn cache directory path
#        id: yarn-cache-dir-path
#        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT
#      - name: Cache Yarn dependencies
#        uses: actions/cache@v4
#        with:
#          path: |
#            ${{ steps.yarn-cache-dir-path.outputs.dir }}
#            .yarn/cache
#            .yarn/install-state.gz
#            !.eslintcache # Exclude eslint cache
#          key: ${{ runner.os }}-yarn-${{ github.sha }} # Cache per commit
#          restore-keys: |
#            ${{ runner.os }}-yarn-
#      - name: Install dependencies
#        run: |
#          yarn install
#      - name: Build Libs Codepush
#        run: yarn build:libs
#      - name: Check if code-push-standalone
#        run: |
#          export PATH="$PATH:/opt/hostedtoolcache/node/18.17.0/x64/bin"
#          echo $PATH
#      - name: Deploy on Code Push Server
#        working-directory: apps/mobile
#        run: |
#          yarn cp-android --description "${{ github.event.head_commit.message }}"
#          yarn cp-ios --description "${{ github.event.head_commit.message }}"
#        env:
#          SENTRY_TOKEN: ${{ secrets.SENTRY_TOKEN }}
#          API_KEY: ${{ secrets.API_KEY_FIREBASE }}
#          SENDER_ID: ${{ secrets.SENDER_ID_FIREBASE }}
#          APP_ID: ${{ secrets.APP_ID_FIREBASE }}
#          MIX_PANEL_TOKEN: ${{ secrets.MIX_PANEL_TOKEN }}
#          BYTE_BREW_SDK_KEY_IOS: ${{ secrets.BYTE_BREW_SDK_KEY_IOS }}
#          BYTE_BREW_ID_IOS: ${{ secrets.BYTE_BREW_ID_IOS }}
#          BYTE_BREW_SDK_KEY_ANDROID: ${{ secrets.BYTE_BREW_SDK_KEY_ANDROID }}
#          BYTE_BREW_ID_ANDROID: ${{ secrets.BYTE_BREW_ID_ANDROID }}
#
#      - name: Send discord message
#        uses: appleboy/discord-action@master
#        with:
#          webhook_id: ${{ secrets.DISCORD_MOBILE_WEBHOOK_ID }}
#          webhook_token: ${{ secrets.DISCORD_MOBILE_WEBHOOK_TOKEN }}
#          username: "GitBot"
#          message: Code pushed successfully! head_commit=${{ github.event.head_commit.message }}
#
#      - name: Send discord message
#        if: ${{ failure() }}
#        uses: appleboy/discord-action@master
#        with:
#          webhook_id: ${{ secrets.DISCORD_MOBILE_WEBHOOK_ID }}
#          webhook_token: ${{ secrets.DISCORD_MOBILE_WEBHOOK_TOKEN }}
#          username: "GitBot"
#          message: Code pushed fail ${{ github.job }} job in worflow ${{ github.workflow }} of ${{ github.repository }} has ${{ job.status }}
