@import "../../styles/var";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.logoGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.empty {
  flex: 1;
}

.icon {
  object-fit: contain;
  height: 150px;
  width: 100%;
  margin-bottom: 32px;
  align-self: center;
}

.logo {
  object-fit: contain;
  height: 20px;
  margin-right: 4px;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  color: $color-gray-50;
}
.logo-inner-container {
  margin-top: 22px;
  text-align: center;

  .logo {
    height: 50px;
    max-width: 100%;
    margin-bottom: 22px;
  }
  .title {
    font-size: 28px;
    line-height: 34px;
    color: $neutral-text-title;
    font-weight: 700;
  }

  .paragraph {
    font-size: 20px;
    line-height: 1;
    color: $color-gray-50;
    font-weight: 400;
  }
}
